#cards_hero {
    &::before {
        background-image: url("/bacrounds/bgcards.jpg");
        opacity: 0.1;
    }

    .page_content {
        margin-top: 10rem;
    }

    h2 {
        position: relative;
        margin-top: -40px;
        z-index: 15;
        text-shadow:
            2px 2px 4px rgba(0, 0, 0, 0.8),
            /* Deep text shadow */
            0 0 10px rgba(255, 255, 255, 0.8),
            /* Soft glow */
            0 0 20px rgba(255, 255, 255, 0.6),
            /* Stronger glow */
            0 0 30px rgba(255, 255, 255, 0.4);
    }
}

#decks,
#all_cards {
    padding-top: 5rem;
    justify-content: start;

    &::before {
        background-image: url("/bacrounds/bgcards.jpg");
        opacity: 0.2;
    }

    img {
        width: 160px;
        height: auto;
        filter: drop-shadow(2px 1.2px 4px rgba(0, 0, 0, 0.7));
    }

    .page_content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 0.5rem;
        justify-content: center; // Default: Center align multiple images
        justify-items: center;
        max-width: 100%;
        width: 100%;
        padding: 0 1rem;
        box-sizing: border-box;

        &.single-image {
            justify-content: start;
            justify-items: start;
        }
    }

    h3 {
        font-size: 0.8rem;

        text-align: start;
        position: relative;
    }

    .deck_title {
        display: flex;
        align-items: center;
        margin-top: -2.5rem;
        justify-content: space-between;
        padding: .3rem;

        img {
            width: 0.8rem;
        }
    }
}

#all_cards {
    .page_content {
        transform: unset;
    }
}

.cards_filter {
    display: flex;
}

#booster,
#builder {
    &::before {
        background-image: url("/bacrounds/bgcards.jpg");
        opacity: 0.2;
    }
}