$purple: #191729;

$gold: linear-gradient(90deg,
                #5A514C 0%,
                #A89C8C 15%,
                #D9C4A4 35%,
                #F3E7C8 50%,
                #D9C4A4 65%,
                #A89C8C 85%,
                #5A514C 100%);

$boldgold: linear-gradient(90deg, #5E3033 0%, #985727 7%, #C5944F 33%, #F6E6B7 47%, #C7934D 60%, #965525 92%, #5E3033 100%);