.hidden {
    display: none;
}

.card_fan {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 240px;
}

.card {
    position: absolute;
    transition: transform 0.3s ease-in-out;
    filter: brightness(0.8);
}

/* Adjust card positions to reduce extreme angles */
.card:nth-child(1) {
    transform: rotate(-10deg) translateX(-60px) translateY(15px) scale(0.85);
}

.card:nth-child(2) {
    transform: rotate(-5deg) translateX(-30px) translateY(8px) scale(0.9);
}

.card:nth-child(3) {
    transform: rotate(0deg) translateX(0px) scale(0.9);
}

// Main card
.card:nth-child(4) {
    transform: rotate(5deg) translateX(30px) translateY(8px) scale(0.9);
}

.card:nth-child(5) {
    transform: rotate(10deg) translateX(60px) translateY(15px) scale(0.85);
    filter: brightness(1);
}

/* Hover effect */
.card:hover {
    transform: scale(1.1) !important;
    filter: brightness(1.1);
    z-index: 20;
}

.page_content {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.x {
    transform: rotate(45deg);
}